
<table class="table">
    <thead>
      <tr>
        <th scope="col">Curso</th>
        <th scope="col">Mañana</th>
        <th scope="col">Tarde</th>
        <th scope="col">Noche</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Angular</th>
        <td>8:00hs - 10:00hs</td>
        <td>13:00hs - 15:00hs</td>
        <td>19:00hs - 21:00hs</td>
      </tr>
      <tr>
        <th scope="row">Javascript</th>
        <td>7:30hs - 9:30hs</td>
        <td>15:00hs - 17:00hs</td>
        <td>20:00hs - 22:00hs</td>
      </tr>
      <tr>
        <th scope="row">Python</th>
        <td>9:30hs - 11:30hs</td>
        <td>14:00hs - 16:00hs</td>
        <td>21:00hs - 23:00hs</td>
      </tr>
</tbody>
</table>
<br>
