<nav class="d-flex flex-column">

    <div class="d-flex justify-content-start">

<span class="material-symbols-outlined text-success">
    payments
    </span>
    <p class="ms-5 text-success fs-3">CURSO PYTHON $15.000 Precio Lista</p>
</div>
<div class="d-flex justify-content-start">
    <span class="material-symbols-outlined text-success">
        payments
        </span>
<p class="ms-5 text-success fs-3">CURSO JAVASCRIPT $15.000 Precio Lista</p>
    </div>
    <div class="d-flex justify-content-start">
        <span class="material-symbols-outlined text-success">
            payments
            </span>
            <p class="ms-5 text-success fs-3">CURSO ANGULAR $15.000 Precio Lista</p>
        </div>
        </nav>
<br><br>

<nav class="d-flex flex-row">
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <h2 class="ms-5 text-success">Metodos de pago</h2>
</nav>

<table class="table fs-4">

    <tbody>
      <tr>
        <th scope="row">Debito o Transferencia bancaria</th>
        <td>25% Descuento</td>
        
      </tr>
      <tr>
        <th scope="row">Tarjeta de Credito (1 pago)</th>
        <td>Precio de Lista</td>
        
      </tr>
      <tr>
        <th scope="row">3 Cuotas</th>
        <td colspan="2">12% de Recargo sobre precio de Lista</td>
      </tr>
<br><br>

<!--REDUX-->

<app-contador-monitor></app-contador-monitor>

    </tbody>
  </table>
  
<router-outlet></router-outlet>
