<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre y Apellido</th>
        <th scope="col">e-mail</th>
        <th scope="col">Localidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Juan Perez</td>
        <td>Perezjuan@gmail.com</td>
        <td>La Plata</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Alfonso Rodriguez</td>
        <td>Rodriguezalf@gmai.com</td>
        <td>Ensenada</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Carlos Gomez</td>
        <td>La Plata</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Marcos Alvarez</td>
        <td>marcos123@gmail.com</td>
        <td>La Plata</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Jacobo gutierrez</td>
        <td>jg@gmail.com</td>
        <td>Berisso</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td colspan="2">Ana Gimenez</td>
        <td>La Plata</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Macarena Sanchez</td>
        <td>ms@gmail.com</td>
        <td>La Plata</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Lautaro Perez</td>
        <td>lp@mgail.com</td>
        <td>La Plata</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td colspan="2">Carla Lopez</td>
        <td>Ensenada</td>
      </tr>
    </tbody>
  </table>
